.languages {
    margin-bottom: 20px;
        @include body-text;
    .title {
        @include sub-header;
    }
    .idiom {
        table, tbody, tr, td {
            scrollbar-width: 0;
            line-height: 1.2;
            table-layout: fixed;
            padding: 0;
            margin: 0;
            border: 0;
            width: 85%;
            text-align: left;
        }
        .col-left {
            text-align: left;
            width: 60%;
        }
        .col-right {
            text-align: left;
        }
    }
}
