.skills {
    margin-bottom: 20px;

    table, tbody, td {
        scrollbar-width: 0;
        border-spacing: 0;
        line-height: 1.3;
        table-layout: fixed;
        padding: 0;
        margin: 0;
        border: 0;
        width: 95%;
        text-align: left;
    }

    .title {
        margin-top: 20px;
        @include sub-header;
    }
    .skill {
        @include body-text;

        .single-col {
            width: 95%;
        }

        .col-left {
            width: 20%;
        }

        .col-right {
            width: 30%;
        }
    }
}
